spring:
  devtools:
    restart:
      enabled: true
      poll-interval: 1000
      quiet-period: 400
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/video_jobs_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 2000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

video:
  watch-dir: /Users/matthieu.pierrelouis/Works/video_orchestrator/src/main/resources/tmp/videos
  lock-dir: /Users/matthieu.pierrelouis/Works/video_orchestrator/src/main/resources/var/run/video_processor.lock
  max-retries: 3

  segment-duration: 10
  max-segments: 0
